<div class="container1">
  <div class="message-box1">
    <i class="fas fa-check-circle fa-5x"></i>
    <h2 class="h21">Your order has been received</h2>
    <p class="message1">
      Thank you for your purchase! We have received your order and will start
      processing it soon.
    </p>
    <div class="button-wrapper1">
      <a href="/productMen" class="button1">Continue Shopping</a>
      <a href="/myOrders" class="button1">View Orders</a>
    </div>
  </div>
</div>
<style>
  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ebebeb;
  }
  .message-box1 {
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
  }
  .fa-check-circle {
    color: #2ecc71;
    margin-bottom: 20px;
  }
  .h21 {
    font-size: 48px;
    color: #ff6b6b;
    margin-bottom: 20px;
  }
  .message1 {
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
  }
  .button-wrapper1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button1 {
    margin-left: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    
  }
  .button1:hover {
    color: #21056c;
  }
  .image-wrapper1 {
    margin-top: 30px;
  }
  .img1 {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
</style>
