<html lang="en">
  <head>
    <title>Verification</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/css/login-css/forgot-pass.css" />
  </head>
  <body
    class="img js-fullheight"
    style="background-image: url(images/login-images/bg.jpg)"
  >
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center login-logo">
            <img
              src="/images/login-images/looka.png"
              alt="logo"
              style="max-width: 100%; max-height: 100%"
            />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
              <h5 class="mb-4 text-center">
                Please enter the one time password to verify your account
              </h5>
              <form action="#" class="signin-form">
                <div class="otp-container">
                  <h2>Enter OTP</h2>
                  <div class="otp-inputs">
                    <input
                      class="input"
                      type="text"
                      maxlength="1"
                      pattern="[0-9]{1}"
                      autofocus
                    />
                    <input
                      class="input"
                      type="text"
                      maxlength="1"
                      pattern="[0-9]{1}"
                    />
                    <input
                      class="input"
                      type="text"
                      maxlength="1"
                      pattern="[0-9]{1}"
                    />
                    <input
                      class="input"
                      type="text"
                      maxlength="1"
                      pattern="[0-9]{1}"
                    />
                    <input
                      class="input"
                      type="text"
                      maxlength="1"
                      pattern="[0-9]{1}"
                    />
                    <input
                      class="input"
                      type="text"
                      maxlength="1"
                      pattern="[0-9]{1}"
                    />
                  </div>
                  <button
                    type="submit"
                    class="form-control btn btn-primary submit px-3"
                  >
                    Submit
                  </button>
                </div>

                <div class="alrdyAcc-h d-md-flex">
                  <div class="alrdyAcc">
                    <a href="/login" style="color: #fff">Go to login</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/popper.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/otp.js"></script>
  </body>
</html>
